[Unit]
Description = aws_tunnel Service


[Service]
Type = {{ service_type }}
ExecStart = {{ service_start }}
ExecStop = {{ service_stop }}
User = {{ ansible_user }}
RemainAfterExit = {{ service_persistance }}
StandardOutput = syslog
StandardError = syslog

[Install]
WantedBy=multi-user.target